body {
    font-size: 14px; 
    font-family: Microsoft Yahei; 
    line-height: 2
}
.texture-container {
    border:2px dashed #aaa; 
    min-height: 60px;
    padding: 10px; 
    margin-bottom: 10px;
}
.texture-container img { 
    margin-right: 6px; 
}
.info {
    padding: 14px;
    font-size: 12px;
    background: #f3f3f3;
    color:#888;
    border:1px solid #aaa;
}
