/*fasdf test*/
.edit-area {
    overflow:hidden;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: inline-block;
}
.rows {
    overflow:hidden; 
    zoom:1
}
.grid {
    float: left; 
    overflow:hidden;
}
.grid-inner {
    border-right:1px solid #e0e0e0; 
    border-bottom:1px solid #e0e0e0
}